<div class="container">
    <div class="separator"></div>

    <button class="button" mat-stroked-button (click)="this.export()">Export</button>

    <div class="middle-separator"></div>

    <input type="file" id="file" (change)="import($event)" #importFileUpload style="display: none;">

    <button class="button" mat-stroked-button type="file" (click)="importFileUpload.click()">Import</button>

    <br>

    <div class="separator">
        <p *ngFor="let log of importLogs">
            {{log}}
        </p>
    </div>
</div>