<div class="container">
    <app-editor
        class="editor shadow-small-left"
        #editor
        *ngFor="let chronicle of openChronicles; let i = index"
        [name]="chronicle.name"
        [mode]="'markdown'"
        [entityService]="this.chronicleEntityService"
        [ngStyle]="{ 
            'z-index': i,
            'min-width': editor.minimized ? 'unset'  : '33%',
            'max-width': editor.minimized ? '33px'  : 'unset'
        }"
        (onChanged)="this.updateChronicleName(chronicle.id, $event)"
        (onClosed)="this.closeEditor(chronicle.id)"
        (onNew)="this.openNewEditor(chronicle.id)"
        (onMove)="this.moveEditor(chronicle.id, $event)"
    ></app-editor>
</div>