.container {
    display: flex;
    height: 100%;
}

.editor {
    flex: 1;
}

.split-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-button {
    width: initial !important;
}