<div class="container">
    <app-chronicle-editor class="editor" id="editor1"></app-chronicle-editor>
    <div class="split-toggle-container">
        <button mat-icon-button matTooltip="{{ this.splitEdit ? 'Unsplit' : 'Split' }}" (click)="this.toggleSplitEditor()">
            <mat-icon *ngIf="!this.splitEdit" mat-icon>keyboard_double_arrow_left</mat-icon>
            <mat-icon *ngIf="this.splitEdit" mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
    </div>
    <app-chronicle-editor *ngIf="this.splitEdit" class="editor" id="editor2"></app-chronicle-editor>
</div>