.container {
    display: flex;
    height: 100%;
}

.editor {
    flex: 1;
    margin-top: 10px;
}

.split-toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor1 {
    margin-left: 10px;
}

#editor2 {
    margin-right: 10px;
}