<div class="container">
    <app-list
        [title]="'🗒 Notes'"
        [options]="this.notes"
        [displayProperty]="'name'"
        [valueProperty]="'_id'"
        (onCreate)="createNote($event)"
        (onSelect)="this.router.navigate(['systems/notes/', ])"
    ></app-list>
    <app-list
        [title]="'🎱 Random Tables'"
        [options]="[]"
        [displayProperty]="'name'"
        [valueProperty]="'_id'"
    ></app-list>
    <app-list
        [title]="'🗡 Actions'"
        [options]="[]"
        [displayProperty]="'name'"
        [valueProperty]="'_id'"
    ></app-list>
</div>