<div class="container">
    <h1 *ngIf="this.title">{{ this.title }}</h1>
    <mat-form-field class="search">
        <input matInput placeholder="Filter" [(ngModel)]="filter" (ngModelChange)="filterOptions()">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-selection-list role="list" [multiple]="false">
        <mat-list-option *ngFor="let option of filteredOptions" (click)="onSelect.emit(option[valueProperty])">
            {{ option[displayProperty] }}
        </mat-list-option>
    </mat-selection-list>
    <button
        mat-stroked-button
        *ngIf="filteredOptions.length === 0 && filter"
        (click)="add()"
    >Add</button>
</div>