<app-commands [customToggle]="commandsToggle" (onCommandSelected)="this.handleCommand($event)"></app-commands>
<div class="container">
    <app-auto-complete-field
        [message]="'Name'"
        [options]="this.folders"
        [initialValue]="this.chronicle.name"
        (onChange)="this.setName($event)"
        class="title"
    ></app-auto-complete-field>
    <div class="editor" (document:keydown.control.s)="this.save($event)">
        <easymde #easymde [(ngModel)]="logModel" (onChange)="onLogChange($event)" [options]="easyMdeOptions"></easymde>
    </div>
    <div class="buttons">
        <button mat-stroked-button class="button" (click)="this.save()">Save</button>
        <button
            mat-stroked-button
            color=""
            aria-label="Commands button"
            class="button commands-button"
            matTooltip="Commands (CTRL + Space)"
            matTooltipPosition="above"
            (click)="this.showCommands()"
        >
            <mat-icon>bolt</mat-icon>
        </button>
        <button mat-stroked-button class="button" routerLink="/chronicles">Back</button>
    </div>
</div>