<div class="actions-container">
    <button mat-stroked-button [routerLink]="['/app/templates/add']">Add</button>
</div>
<br>
<table mat-table [dataSource]="templates" class="full-width">
    <!-- Name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let template"> {{template.name}} </td>
    </ng-container>
    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let template">
            <div class="actions-container">
                <button mat-button (click)="edit(template)">Edit</button>
                <button mat-button>Delete</button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>