<div class="container" [ngStyle]="{ 'display': minimized ? 'none' : 'flex' }">
    <div class="header">
        <!-- Close button -->
        <button mat-button class="header-button" matTooltip="Close" (click)="this.closeEditor()">
            <mat-icon class="close-button-icon">close</mat-icon>
        </button>
        
        <!-- Title & search -->
        <div class="header-separator"></div>
        <div class="title" matTooltip="Minimize" (click)="minimize()">
            {{ this.formattedName }}
        </div>

        <!-- Save button -->
        <span class="buttons-container" *ngIf="this.isDirty">
            <div class="header-separator"></div>
            <button
                class="header-button"
                mat-button
                matTooltip="Save (CTRL + S)"
                [style]="isDirty ? { 'color': 'red' } : {}"
                (click)="this.save()"
            >
                <mat-icon>save</mat-icon>
            </button>
        </span>
        
        <!-- Toolbar buttons -->
        <span class="buttons-container" *ngIf="this.mode === 'markdown'">
            <div class="header-separator"></div>
            
            <button class="header-button" mat-button matTooltip="Move left" (click)="move('left')">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button class="header-button" mat-button matTooltip="Move right" (click)="move('right')">
                <mat-icon>chevron_right</mat-icon>
            </button>
            
            <div class="header-separator"></div>
            
            <button class="header-button" mat-button matTooltip="New" (click)="this.openNewEditor()">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </div>
    <div class="editor">
        <ngx-codemirror
            class="code-mirror"
            #ngxCodeMirror
            [(ngModel)]="this.entity.rawContent"
            [options]="{
                theme: 'default',
                mode: this.mode,
                lineWrapping: true,
                inputStyle: 'textarea'
            }"
        ></ngx-codemirror>
    </div>
    <div *ngIf="this.mode === 'markdown'" class="commands">
        <app-commands #commands (onCommandExecuted)="this.handleCommand($event)"></app-commands>
    </div>
</div>
<div class="container-minimized" *ngIf="minimized" matTooltip="Maximize" matTooltipPosition="right" (click)="maximize()">
    <mat-icon class=" minimized-">keyboard_double_arrow_right</mat-icon>
    <div class="header-separator"></div>
    <div class="title-minimized">
        {{ this.formattedName }}
    </div>
</div>