<!-- Header -->
<div class="container">
    <!-- Header -->
    <div class="header">
        <div class="header-spacer"></div>
        <span class="title">{{ note.name }}{{ isDirty ? ' *' : '' }}</span>
        <div class="header-buttons-container">
            <button mat-icon-button (click)="this.onClose.emit()" matTooltip="Close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <!-- Context -->
    <div *ngIf="context.attributes.length > 0" class="context">
        <ul style="font-family: Roboto Mono;">
            <li *ngFor="let attribute of context.attributes"><b>{{attribute.key}}:</b> {{attribute.value}}</li>
        </ul>
    </div>
    <!-- Editor -->
    <div class="editor">
        <ngx-codemirror
            class="code-mirror"
            [ngClass]="note.type !== 'note' ? ['code'] : []"
            #ngxCodeMirror
            [(ngModel)]="this.note.content"
            [options]="{
                theme: 'default',
                mode: note.type !== 'note' ? 'javascript' : 'markdown',
                lineWrapping: true,
                inputStyle: 'textarea',
                autoCloseBrackets: true,
                lineNumbers: true,
                foldGutter: true,
                gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter']
            }"
            (focusChange)="focusChanged($event)"
        ></ngx-codemirror>
    </div>
</div>