<div class="container">
    <div class="header shadow-small-down">
        <button mat-button class="header-button" matTooltip="Close" (click)="this.closeEditor()">
            <mat-icon class="header-button-icon">close</mat-icon>
        </button>
        
        <div *ngIf="!search" class="title" (click)="toggleSearch()">{{ this.formattedName }}</div>
        <app-auto-complete-field
            *ngIf="search"
            class="search-field"
            style="width: 100%;"
            [message]="'Name'"
            [options]="this.otherEntities"
            [initialValue]="this.entity.name"
            (onTextChange)="this.changeEntityName($event)"
            (onOptionChange)="this.changeEntity($event)"
        ></app-auto-complete-field>
        
        <button mat-button class="header-button" (click)="toggleSearch()">
            <mat-icon *ngIf="!search" class="header-button-icon">search</mat-icon>
            <mat-icon *ngIf="search" class="header-button-icon">done</mat-icon>
        </button>
        <button
            *ngIf="this.isDirty"
            class="header-button"
            mat-button
            matTooltip="Save (CTRL + S)"
            matTooltipPosition="above"
            [style]="isDirty ? { 'color': 'red' } : {}"
            (click)="this.save()"
        >
            <mat-icon class="header-button-icon">save</mat-icon>
        </button>
        <button
            *ngIf="this.showNewButton"
            class="header-button" 
            mat-button
            matTooltip="New"
            (click)="this.openNewEditor()"
        >
            <mat-icon class="header-button-icon">add</mat-icon>
        </button>
    </div>
    <div class="editor">
        <ngx-codemirror
            class="code-mirror"
            #ngxCodeMirror
            [(ngModel)]="this.entity.rawContent"
            [options]="{
                theme: 'default',
                mode: this.mode,
                lineWrapping: true,
                inputStyle: 'textarea'
            }"
        ></ngx-codemirror>
    </div>
    <div *ngIf="this.showCommandsSection" class="commands">
        <app-auto-complete-field
            class="commands-input"
            #commands
            [message]="'Command'"
            [options]="this.commandService.commands"
            (onOptionChange)="this.showCommands($event)"
        ></app-auto-complete-field>
    </div>
</div>