.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-bottom: 1px solid lightgray;
  background-color: #f7f7f7;
}
.header-spacer {
  width: 40px;
}
.title {
  font-weight: 500;
  margin-left: auto;
}
.header-buttons-container {
  margin-left: auto;
}
.editor {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}
.context {
  padding-right: 20px;
  background-color: white;
  white-space: nowrap;
}
.code-mirror {
  width: 100%;
}