<mat-form-field class="example-full-width" appearance="standard" style="width: 100%;">
  <input
    type="text"
    placeholder="{{ this.message }}"
    aria-label="Input"
    matInput
    [formControl]="inputControl"
    [matAutocomplete]="options"
  >
  <mat-autocomplete 
    (optionSelected)="onOptionSelect($event.option.value)"
    autoActiveFirstOption
    #options="matAutocomplete"
  >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>