<div class="container">
    <app-editor
        class="editor shadow-small-left"
        #editor
        *ngFor="let entity of editors; let i = index"
        [name]="entity.name"
        [mode]="this.mode"
        [entityService]="this.entityService"
        [ngStyle]="{ 
            'z-index': i,
            'min-width': editor.minimized ? 'unset'  : '33%',
            'max-width': editor.minimized ? '33px'  : 'unset'
        }"
        (onClosed)="this.closeEditor(entity.id)"
        (onNew)="this.openNewEditor(entity.id)"
        (onMove)="this.moveEditor(entity.id, $event)"
    ></app-editor>
</div>