<div class="container">
    <mat-form-field appearance="outline" class="random-tables-form-field">
        <input type="text" placeholder="Filter" aria-label="Filter" matInput>
    </mat-form-field>
    <div class="items-container">
        <mat-action-list>
            <button mat-list-item *ngFor="let randomTable of randomTables">
                <div class="item-container">
                    <div class="item" [routerLink]="['/random-tables/create-edit', randomTable]">{{randomTable}}</div>
                    <button mat-button (click)="delete(randomTable)">Delete</button>
                </div>
            </button>
        </mat-action-list>
    </div>
    <button mat-raised-button class="button" routerLink="/random-tables/create-edit">New</button>
</div>