.container {
  height: 100%;
  display: flex;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.minimize-toggle {
  height: 100%;
  display: flex;
  align-items: center;
  width: 25px;
  cursor: pointer;
  border-left: 1px solid lightgray;
}

.filter {
  display: flex;
  align-items: center;
  height: 32px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.form-field {
  width: calc(100%);
}

.tree {
  height: calc(100% - 1px);
  overflow: auto;
  flex-grow: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.item-container {
  width: 100%;
  display: flex;
}

.item {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 100%;
}

.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.tree-node {
  display: block;
}

.children-container {
  display: flex;
}

.marker {
  height: 100%;
  width: 1px;
  background-color: lightgray;
}

.tree-node .tree-node {
  padding-left: 20px;
}

.folder-button {
  width: 100%;
  text-align: left;
}

.tree-node-button {
  width: 100%;
  border-left: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid lightgray;
  font-size: 10pt;
  padding: 0;
}

.button {
  min-width: 33px !important;
  padding: 0;
  border-radius: 0;
}