<div class="container">
    <!-- Header -->
    <div class="filter shadow-small-down">
        <!-- Filter -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" placeholder="Filter" aria-label="Filter" matInput [(ngModel)]="filter"
                (ngModelChange)="filterItems()">
            <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
        <!-- 'New' button -->
        <button mat-icon-button class="" (click)="new()" matTooltip="New">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    
    <!-- Tree -->
    <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <!-- Tree node template for leaf nodes -->
        <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="tree-node">
            <button mat-button class="tree-node-button">
                <div class="item-container" (click)="edit(node.path)">
                    <div class="item">
                        <mat-icon>description</mat-icon>
                        {{node.name}}
                    </div>
                    <button mat-icon-button (click)="delete(node.path, $event)" class="action-button">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </button>
        </cdk-nested-tree-node>
        
        <!-- Tree node template for expandable nodes -->
        <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="tree-node">
            <button 
                mat-button
                [attr.aria-label]="'Toggle ' + node.name"
                cdkTreeNodeToggle
                class="folder-button tree-node-button"
                (click)="expandNode(node)"
            >
                <mat-icon *ngIf="!treeControl.isExpanded(node)">folder</mat-icon>
                <mat-icon *ngIf="treeControl.isExpanded(node)">folder_open</mat-icon>
                {{node.name}}
            </button>
            <div [class.tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
        </cdk-nested-tree-node>
    </cdk-tree>
</div>