.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 5px 5px 5px 10px;
  font-size: 16pt;
  font-weight: 400;
  height: 42px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.tree {
  height: calc(100% - 1px);
  overflow: auto;
  flex-grow: 1;
  background-color: white;
}

.item-container {
  width: 100%;
  display: flex;
}

.item {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.tree-node {
  display: block;
}

.children-container {
  display: flex;
}

.marker {
  height: 100%;
  width: 1px;
  background-color: lightgray;
}

.tree-node .tree-node {
  padding-left: 20px;
}

.folder-button {
  width: 100%;
  text-align: left;
}

.action-button {
  float: right;
  margin-left: auto;
}

.tree-node-button {
  width: 100%;
  border-left: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid lightgray;
  font-size: 10pt;
}

.button-small {
  margin: 10px 20px 0 20px;
}

.button-new {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
