.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.separator {
    flex-grow: 1;
    text-align: center;
    margin: 20px;
    font-family: JetBrainsMono;
    font-size: 9pt;
}

.middle-separator {
    height: 25px;
}

.button {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.export-button {
    /* background-color: #28FFBF; */
    /* color: white; */
}

.import-button {
    /* background-color: #B5FFD9; */
    /* color: white; */
}

.purge-button {
    background-color: #FF7171;
    color: white;
}