.container {
    min-height: 320px;
    min-width: 240px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.separator {
    flex-grow: 1;
    text-align: center;
    margin: 20px;
    font-size: 9pt;
}

.middle-separator {
    height: 25px;
}

.button {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.purge-button {
    background-color: #FF7171;
    color: white;
}