.name {
    width: 100%;
}
.line {
    display: flex;
    width: 100%;
}
.index {
    margin-right: 10px;
}
.value {
    flex-grow: 1;
    margin-right: 10px;
}
.actions-container {
    display: flex;
}
.save-button {
    margin-left: auto;
}