.container {
  height: 100%;
  width: 100%;
}
.content {
  height: 100%;
  display: flex;
}
.sidebar {
  width: 100px;
  border-right: 1px solid lightgray;
  background-color: white;
}
.pages {
  height: 100%;
  width: 100%;
}
.header {
  height: 40px;
  border-bottom: 1px solid lightgray;
}