.container {
  display: grid;
  height: calc(100vh + 2px);
  background-color: #F7F6F2;
}

.main-content {
  display: flex;
}

.router-container {
  width: 100%;
}

.route-container {
  height: 100%;
}

.icon {
  transform: scale(0.75);
}