.container {
  display: grid;
  height: calc(100% - 2px);
  background-color: #F7F6F2;
}

.main-content {
  display: flex;
}

.router-container {
  width: 100%;
}

.route-container {
  height: calc(100% - 53px);
}

.footer {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 9pt;
}

.icon {
  transform: scale(0.75);
}