.container {
    height: 100%;
    padding: 10px;
}
.search {
    width: 100%;
}
.buttons-container {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.filter-button {
    font-size: 10pt;
}
.filter-button-selected {
    background-color: gainsboro;
}
.note-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-type {
    font-style: italic;
    font-weight: 500;
    color: gray;
    font-size: 9pt;
    margin-left: auto;
    margin-right: 10px;
}
.note-name {
    font-size: 10pt;
}