.container {
    display: flex;
    height: 100%;
}

.editors-container {
    width: 100%;
    overflow: auto;
}

.no-content-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.editor {
    flex: 1;
    border-left: 1px solid lightgray;
}