.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.aside-buttons {
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: gray;
}
.editors-container {
  width: 100%;
  overflow: auto;
}
.no-content-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.editor {
  flex: 1;
  border-left: 1px solid lightgray;
}
.editor-container {
  display: flex;
  height: 100%;
}
.tabs {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.tab {
  padding-left: 10px;
  border-right: 1px solid lightgray;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab:hover {
  background-color: white;
}
.tab-close-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  border: initial;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.tab-close-button:hover {
  background-color: rgb(239, 239, 239);
}
.tab-focused {
  background-color: white;
}
