<div class="container">
    <app-editor
        class="editor"
        #editorComponent
        *ngFor="let editor of editors; let i = index"
        [notePath]="editor.notePath"
        (onFocus)="setFocusedEditor(editorComponent)"
        (onClose)="closeEditor(editor.id)"
        (onRename)="renameNote(editor)"
        (onDelete)="deleteNote(editor)"
    ></app-editor>
    <app-commands #commands (onCommandResult)="this.handleCommandResult($event)"></app-commands>

    <div class="no-content-message" *ngIf="editors.length === 0">
        <button style="color: gray;" mat-stroked-button (click)="showCommands()">Open Commands</button>
    </div>
</div>