.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  z-index: 1;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 5%);
}

.editor {
  overflow: auto;
  display: flex;

  height: 100%;

  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}

.code-mirror {
  width: 100%;
}

.buttons {
  background-color: white;
  box-shadow: 5px -5px 10px 0px rgb(0 0 0 / 5%);
  z-index: 1;
}

.button {
  width: 100%;
}

.add-button {
  line-height: 31px;
  border-bottom: none !important;
}

.close-button {
  transform: scale(0.8);
}

.commands-input {
  width: 100%;
}