<div class="container">
    <div class="title-container">
        <button mat-stroked-button class="button small-button" matTooltip="Close" (click)="this.closeEditor()">
            <mat-icon class="close-button">close</mat-icon>
        </button>
        <app-auto-complete-field
            class="title"
            style="width: 100%;"
            [message]="'Name'"
            [options]="this.allChronicles"
            [initialValue]="this.chronicle.name"
            (onTextChange)="this.setName($event)"
            (onOptionChange)="this.changeChronicle($event)"
        ></app-auto-complete-field>
        <button
            *ngIf="this.isDirty"
            mat-stroked-button
            class="button small-button"
            matTooltip="Save (CTRL + S)"
            matTooltipPosition="above"
            [style]="isDirty ? { 'color': 'red' } : {}"
            (click)="this.save()"
        >
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button class="button small-button add-button" matTooltip="New" (click)="this.openNewEditor()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="editor">
        <ngx-codemirror
            class="code-mirror"
            #ngxCodeMirror
            [(ngModel)]="this.chronicle.rawContent"
            [options]="{
                theme: 'default',
                mode: 'markdown',
                lineWrapping: true,
                inputStyle: 'textarea'
            }"
        ></ngx-codemirror>
    </div>

    <div class="buttons">
        <!-- <button
            mat-stroked-button
            color=""
            aria-label="Commands button"
            class="button commands-button"
            matTooltip="Commands (CTRL + Space)"
            matTooltipPosition="above"
            (click)="this.showCommands()"
        >
            <mat-icon>bolt</mat-icon>
        </button> -->
        <app-auto-complete-field
            style="width: 100%;"
            #commands
            [message]="'Command'"
            [options]="this.commandService.commands"
            (onOptionChange)="this.showCommands($event)"
        ></app-auto-complete-field>
    </div>
</div>