<div class="container">
    <app-tree
        class="tree"
        #tree
        [paths]="entityPaths"
        [expansionModel]="entityService.getExpansionModel()"
        (onExpanded)="entityService.setExpansionState($event)"
        (onNew)="new()"
        (onEdit)="edit($event)"
        (onRename)="rename($event)"
        (onDelete)="delete($event)"
    ></app-tree>
    <div class="editors-container">
        <app-entity-editor
            #editor
            [mode]="editorMode"
            [entityService]="entityService"
        ></app-entity-editor>
    </div>
</div>