.container {
    display: flex;
    height: 100%;
}

.tree {
    min-width: 350px;
    max-width: 350px;
    z-index: 1;
}

.editors-container {
    border: 1px solid darkgray;
    width: 100%;
    overflow: auto;
}