<div class="container">
    <app-tree
        class="tree"
        #treeComponent
        [paths]="treeEntities"
        [expansionModel]="entityService.getExpansionModel()"
        (onExpanded)="entityService.setExpansionModel($event)"
        (onNew)="new()"
        (onEdit)="edit($event)"
        (onRename)="rename($event)"
        (onDelete)="delete($event)"
    ></app-tree>
    <div class="editors-container">
        <app-editor-list
            #editorListComponent
            [mode]="editorMode"
            [entityService]="entityService"
        ></app-editor-list>
    </div>
</div>