.container {
  height: 100%;
  background-color: whitesmoke;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
}

.top-separator {
  height: 50px;
}

.middle-separator {
  flex-grow: 1;
}

.item-text {
  margin-left: 10px;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
}

.separator {
  border-bottom: 1px solid lightgray;
}