.container {
  height: calc(100vh - 8px);
  border-right: 1px solid lightgray;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-separator {
  height: 43px;
}

.middle-separator {
  flex-grow: 1;
}

.item-text {
  margin-left: 10px;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
}

.separator {
  border-bottom: 1px solid lightgray;
}
