<div *ngIf="!minimized" class="container" [style.width]="expanded ? '200px' : '55px'">
    <mat-nav-list class="list">
        <a
            *ngFor="let item of items"
            mat-list-item
            class="list-item"
            matTooltip="{{item.tooltip}}"
            routerLink="{{item.link}}"
            routerLinkActive="active-link"
            [matTooltipPosition]="'after'"
        >
            <mat-icon>{{item.icon}}</mat-icon>
            <span class="item-text" *ngIf="expanded">{{item.text}}</span>
        </a>
        
        <div class="spacer"></div>
        
        <a mat-list-item (click)="toggleExpand()" matTooltip="{{ expanded ? 'Collapse' : 'Expand' }}" [matTooltipPosition]="'after'">
            <mat-icon *ngIf="!inBetween && !expanded">chevron_right</mat-icon>
            <mat-icon *ngIf="!inBetween && expanded">chevron_left</mat-icon>
            <mat-icon *ngIf="inBetween">first_page</mat-icon>
        </a>
    </mat-nav-list>
</div>
<div *ngIf="minimized" class="minimize-container" (click)="toggleMinimize()">
    <mat-icon>arrow_right</mat-icon>
</div>