<div class="container">
    <div class="no-content-message" *ngIf="editors.length === 0">
        No file opened.
    </div>
    <app-editor
        class="editor"
        #editor
        *ngFor="let entity of editors; let i = index"
        [name]="entity.name"
        [mode]="mode"
        [entityService]="entityService"
        [ngStyle]="{ 
            'z-index': i,
            'min-width': editor.minimized ? 'unset'  : '33%',
            'max-width': editor.minimized ? '33px'  : 'unset'
        }"
        (onClosed)="closeEditor(entity.id)"
        (onMove)="moveEditor(entity.id, $event)"
        (onMinMaximized)="refreshEditors()"
    ></app-editor>
</div>