<div class="container">
    <div class="no-content-message" *ngIf="editors.length === 0">
        No note opened.
    </div>
    <app-editor
        class="editor"
        #editorComponent
        *ngFor="let editor of editors; let i = index"
        [name]="editor.notePath"
        [mode]="mode"
        [minimized]="editor.minimized"
        [ngStyle]="{ 
            'z-index': i,
            'min-width': editorComponent.minimized ? 'unset'  : '33%',
            'max-width': editorComponent.minimized ? '33px'  : 'unset'
        }"
        (onClosed)="closeEditor(editor.id)"
        (onMove)="moveEditor(editor.id, $event)"
        (onMinimized)="editorMinimized(editor, $event)"
        (onLinkClicked)="openEditor($event, false)"
    ></app-editor>
</div>