.container {
    display: flex;
    height: 100%;
}

.no-content-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.editor {
    flex: 1;
    border-left: 1px solid lightgray;
}