.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.name {
    margin-left: 5px;
    margin-top: 10px;
    width: 100%;
}
.editor {
    height: calc(100vh - 103px);
    margin-left: 15px;
}
.buttons-container {
    display: grid;
    grid-template-columns: 1fr;
}