/* Fonts */
@font-face {
  font-family: JetBrainsMono;
  src: url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F7F6F2;
}

/* EasyMDE */
@import "~ngx-easymde/lib/index.scss";
/* Change existing parameters here:  */
/* @easymde-icon-url: 'icons.zip';
@easymde-statusbar-lines: 'lines:';
@easymde-statusbar-words: 'words:';
@easymde-statusbar-characters: 'chars ：';
@easymde-statusbar-counts: 'count ：'; */
.EasyMDEContainer .CodeMirror {
  height: calc(100vh - 267px);
  border: 1px solid darkgray;
}
.EasyMDEContainer .editor-preview-side {
  height: calc(100vh - 267px) !important;
}

/* CodeMirror */
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
.CodeMirror {
  height: 100%;
  width: 100%;
  /* font-family: "JetBrainsMono" !important; */
}
.CodeMirror-scroll {
  min-height: auto !important;
}

/* Angular Material */
/* .mat-snack-bar-container {
  margin-bottom: 75px !important;
} */
/* .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0 !important;
} */
/* .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 !important;
} */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: darkgray;
}

/* Custom */
.form-field .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
}
.button {
  height: 49px !important;
  box-shadow: none !important;
  background-color: white;
  border: 1px solid darkgray !important;
}
