/* Fonts */
/* @font-face {
  font-family: JetBrainsMono;
  src: url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
} */

/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Consolas'
}
html {
  top: 0 !important;
}
html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #F7F6F2;
}
img {
  min-width: unset !important;
}

/* CodeMirror */
@import "~codemirror/theme/material";
@import "~codemirror/lib/codemirror";
.CodeMirror {
  height: 100%;
}
/* .CodeMirror-lines { 
  padding: 10px 10px 25% 10px;
} */
.CodeMirror-foldmarker {
  color: blue;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
  padding-left: 0.5em;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}

/* Angular Material */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgray;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.2em 0 0.5em 0;
}
.mat-option {
  height: 33px !important;
  font-size: 14px !important;
}
.active-link {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}
.form-field .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
}
.mat-form-field-outline-start, .mat-form-field-outline-end {
  border-radius: 0 !important;
}
.mat-autocomplete-panel-above .mat-autocomplete-panel {
  border: 1px solid lightgray;
  border-radius: 0 !important;
  transform: translateY(5px);
}

/* Custom */
.shadow-right {
  box-shadow: 3px 0px 3px rgb(0 0 0 / 10%);
}
.shadow-down {
  box-shadow: 0px 3px 3px rgb(0 0 0 / 10%);
}
.shadow-up {
  box-shadow: 0px -3px 3px rgb(0 0 0 / 10%);
}
.markdown-link {
  cursor: pointer;
  font-weight: bold;
}