/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  font-family: "Courier New", Courier, monospace;
}

/* EasyMDE */
@import "~ngx-easymde/lib/index.scss";
/* Change existing parameters here:  */
/* @easymde-icon-url: 'icons.zip';
@easymde-statusbar-lines: 'lines:';
@easymde-statusbar-words: 'words:';
@easymde-statusbar-characters: 'chars ：';
@easymde-statusbar-counts: 'count ：'; */
.EasyMDEContainer .CodeMirror {
  height: calc(100vh - 200px);
  border-radius: 0;
}
.editor-toolbar {
  border-radius: 0;
  border-top: 0;
}

/* CodeMirror */
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
.CodeMirror {
  height: 100%;
  width: 100%;
}
.CodeMirror-scroll {
  min-height: auto !important;
}
.editor-preview-side {
  height: 100%;
}

/* Angular Material */
/* .mat-snack-bar-container {
  margin-bottom: 75px !important;
} */
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 !important;
}

/* Custom */
.form-field .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}
.button {
  height: 49px !important;
  border-radius: 0 !important;
  font-weight: bold;
  border-bottom: 1px solid lightgray !important;
  border-left: 1px solid lightgray !important;
  box-shadow: none !important;
}
