<div class="container" [ngClass]="editors.length > 0 ? ['container-with-editors'] : []">
    <div class="picker" [ngClass]="editors.length > 0 ? ['picker-collapsed', 'shadow-right-faint'] : []">
        <app-note-list
            #noteList
            (onSelect)="openEditor($event._id)"
            (onRoll)="roll($event)"
        ></app-note-list>
    </div>
    <div class="editors-container" *ngIf="editors.length > 0">
        <app-editor
            #editor
            *ngFor="let editor of editors"
            class="editor"
            [noteId]="editor.noteId"
            [editorId]="editor._id"
            (onFocus)="focusEditor(editor)"
            (onClose)="this.closeEditor(editor._id)"
        ></app-editor>
    </div>
</div>